<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<footer>
  <%= link_to "<< All Articles", root_path, class:"bottom_link" %>
  <%= link_to "Edit", edit_article_path(@article) %>
  <%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Really delete?"} %>
</footer>
